{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <!--<div class="col-lg-4 col-lg-offset-2 about">-->
        <div class="col-lg-12 about">
            <h3>Education</h3>
            <p>Bachelor of Science <strong>University of California San Diego</strong><br>
            Bioinformatics with spec in Computer Science</p> test

            <br>
            <h3>Publications</h3>
            <p>1. Nadejda Beliakova-Bethell, <strong>Jin X Zhang</strong>, Akul Singhania, Vivian Lee, Valeri H Terry, Douglas D Richman, Celsa A Spina, and Christopher H Woelk. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=23221426">Suberoylanilide hydroxamic acid induces limited changes in the transcriptome of primary CD4+ T cells</a>. AIDS 27, 29-37. 2013.</p>
            <p>2. <strong>Jin X Zhang</strong>, Christopher H Woelk, Lorraine Walls, Suganya Viriyakosol, Akul Singhania, Theo N Kirkland, and Joshua Fierer. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=23006927">Factors regulated by interferon gamma and hypoxia-inducible factor 1A contribute to responses that protect mice from Coccidioides immitis infection</a>. BMC Microbiology 12:218. 2012.</p>
            <p>3. Josué Pérez-Santiago, Rebeca Diez-Alarcia, Luis F Callado, <strong>Jin X Zhang</strong>, Gursharan Chana, Cory H White, Stephen J Glatt, Ming T Tsuang, Ian P Everall, J Javier Meana, and Christopher H Woelk. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=22954356">A combined analysis of microarray gene expression studies of the human prefrontal cortex identifies genes implicated in schizophrenia</a>. Journal of Psychiatric Research 46, 1464-74. 2012.</p>
            <p>4. Brett N Bowman, Paul R McAdam, Sandro Vivona, <strong>Jin X Zhang</strong>, Tiffany Luong, Richard K Belew, Harpal Sahota, Donald Guiney, Faramarz Valafar, Joshua Fierer, and Christopher H Woelk. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=21864619">Improving reverse vaccinology with a machine learning approach</a>. Vaccine 29, 8156-64. 2011.</p>
        </div>
            <!--<div class="col-lg-4">-->
                <!--<p>{{ with .Site.Params.about.right }}{{ . | markdownify }}{{ end }}</p>-->
            <!--</div>-->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="{{ with .Site.Params.about.button.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline">
                    <i class="fa fa-{{ with .Site.Params.about.button.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.about.button.text }}{{ . }}{{ end }}
                </a>
            </div>
        </div>
    </div>
</section>
